
# Tell lombok this is the root directory
config.stopBubbling = true

# Add the @lombok.Generated annotations to all generated nodes; useful for JaCoCo
lombok.addLombokGeneratedAnnotation = true

# Automatically generate @ConstructorProperties annotations
lombok.anyConstructor.addConstructorProperties = true


# Use IAE instead of NPE for @NonNull
lombok.nonNull.exceptionType = IllegalArgumentException

# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

